body {
    background: black;
}

.judul {
    color: white;
    font-family: inherit;
    font-style: italic;
    font-size: x-large;
    margin-left: 50px;
}

.navbar-nav .nav-link.login {
    color: #8E8EFD;
    font-family: inherit;
    font-style: italic;
}

.navbar-nav .nav-link {
    font-family: inherit;
    font-style: italic;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.record {
    color: white;
    font-size: xx-large;
    font-family: inherit;
    font-style: italic;
    margin-left: 50px;
}

.cassette {
    color: white;
    font-size: xx-large;
    font-family: inherit;
    font-style: italic;
    float: right;
    margin-right: 100px;
    margin-top: -350px;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 15px 20px;
    font-size: large;
}

.tombol {
    padding-left: 10px;
    border-radius: 100px;
    float: right;
    margin-right: 60px;
    margin-top: 100px;
}

.barang {
    background-color: #0A0A14;
    margin-top: 40%;
    margin-left: 5%;
    width: 1200px;
    height: 400px;
    border-radius: 20px;
    padding: auto;
}

.foto {
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 40px;
}

.harga {
    margin-left: 150px;
    margin-top: 6px;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.deskripsi {
    color: aliceblue;
    margin-left: 40%;
    margin-top: -300px;
}

.detail{
    width: 200px;
    height: 300px;
    background-color: #0A0A14;
    border-radius: 20px;
    margin-top: 20%;
    margin-left: 45%;

}

.barangpayment {
    background-color: #0A0A14;
    margin-top: 20%;
    margin-left: 5%;
    width: 1200px;
    height:900px;
    border-radius: 20px;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.barangpayment table {
    width: 100%; /* Lebar tabel 100% dari parent (.barangpayment) */
    margin-top: 20px; /* Jarak atas dari tabel */
}

.barangpayment button {
    margin-top: 20px; /* Jarak atas dari tombol */
}
.pesanan{
    text-align: center;
}

.mt-40 {
    margin-top: 40px;
}

.ml-30 {
    margin-left: 30px;
}

.emoney {
    margin-left: 50px;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
