body {
    background: black;
}

.judul {
    color: white;
    font-family: Bebas Neue;
    font-style: italic;
    font-size: x-large;
    margin-left: 50px;
}

.navbar-nav .nav-link.login {
    color: #fae0b4;
    font-family: Josefin Sans;
    font-style: italic;
}

.navbar-nav .nav-link {
    font-family: Josefin Sans;
    font-style: italic;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.record {
    color: white;
    font-size: xx-large;
    font-family: Bebas Neue;
    margin-left: 50px;
}

.cassette {
    color: white;
    font-size: xx-large;
    font-family: Josefin Sans;
    font-style: italic;
    float: right;
    margin-right: 100px;
    margin-top: -350px;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 15px 20px;
    font-size: large;
}

.tombol {
    padding-left: 10px;
    border-radius: 100px;
    float: right;
    margin-right: 60px;
    margin-top: 100px;
}

.barang {
    background-color: #0A0A14;
    margin-top: 40%;
    margin-left: 25%;
    width: 200px;
    height: 400px;
    border-radius: 20px;
    padding: auto;
}

.foto {
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 40px;
}

.harga {
    margin-left: 150px;
    margin-top: 6px;
    color: whitesmoke;
    font-family: Josefin Sans;
}

.deskripsi {
    color: aliceblue;
    margin-left: 40%;
    margin-top: -300px;
}

.detail{
    width: 200px;
    height: 300px;
    background-color: #0A0A14;
    border-radius: 20px;
    margin-top: 20%;
    margin-left: 45%;

}

.barangpayment {
    background-color: #0A0A14;
    margin-top: 20%;
    margin-left: 5%;
    width: 1200px;
    height:900px;
    border-radius: 20px;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.barangpayment table {
    width: 100%; /* Lebar tabel 100% dari parent (.barangpayment) */
    margin-top: 20px; /* Jarak atas dari tabel */
}

.selimutDetail{
    height: 400px;
    width: auto;
    background-color: red;
}

.barangpayment button {
    margin-top: 20px; /* Jarak atas dari tombol */
}
.pesanan{
    text-align: center;
}

.mt-40 {
    margin-top: 40px;
}

.ml-30 {
    margin-left: 30px;
}

.emoney {
    margin-left: 50px;
}

h3 {
    font-family: Josefin Sans;
}
.detail {
    margin-top: 100px;
    background-color: none;
}
.card-title {
    font-family: Bebas Neue;
    font-size: 40px;
}
.card-table {
    font-family: Josefin Sans;
}
.btn
 {
    background-color: #c6aa9d;
    font-family: Bebas Neue;
    color: white;
    font-size: 25px;
    margin-left: 20px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
 }
 .btn:hover
{
    background-color: #a1857f;
    transition: 0.3s ease-in-out;
}
.word{
    background-image: linear-gradient(#dcd2c8, #ceb8a4);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
    font-size: 4rem;
  }

  .word:hover{
    background-size: 100% 100%;
    background-position-x: left;
  }

.mt-40{
    margin-top: 40px;
}
