body
{
    background: black;

}
.navbar-nav {
    font-family: Josefin Sans;
}
.judul{
    color: white;
    font-family: Bebas Neue;
    font-style: italic;
    font-size: x-large;
    margin-left: 50px;
}
.word{
    background-image: linear-gradient(#dcd2c8, #ceb8a4);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
    font-size: 4rem;
  }

  .word:hover{
    background-size: 100% 100%;
    background-position-x: left;
  }
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 500px;
  }

.navbar-nav .nav-link.login {
    color: #8E8EFD;
    font-family: inherit;
    font-style: italic;
}
.navbar-nav .nav-link{
    font-family: inherit;
    font-style: italic;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.5);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.record{
    color: white;
    font-size: xx-large;
    font-family: inherit;
    font-style: italic;
    margin-left: 50px;
}
.cassette{
    color: white;
    font-size: xx-large;
    font-family: inherit;
    font-style: italic;
    float: right;
    margin-right: 100px;
    margin-top: -350px;
}
.search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 15px 20px;
    font-size: large;
    font-family: Josefin Sans;
}
.search-button {
    background-color: #c6aa9d;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    width: 90px;
    height: 38px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.button {
    font-family: Josefin Sans;
    background-color: #080828;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    width: 200px;
    height: 38px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px rgb(255, 255, 255);
}
button:hover {
    background-color: #ceb8a4;
    transition: 0.6s ease-in;
}
.payment-button {
    padding-left: 10px;
    border-radius: 5px;
    float: right;
    margin-right: 60px;
    margin-top: -75px;
    background-color: #0b0b28;
    border: none;
    cursor: pointer;
    font-family: Josefin Sans;
    font-size: 20px;
    color: #ffff;
    width: 100px;
    height: 38px;
    box-shadow: 0px 0px 2px 1px rgb(255, 255, 255);
}
.payment-button:hover{
    background-color: #ceb8a4;
    transition: 0.5s ease-in-out;
}

.barang{
    background-color: #0A0A14;
    margin-top: 60px;
    width: 1200px;
    height: 430px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.foto{
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 40px;
    width: 100%;
    max-width: 300px;
}
.harga{
    margin-left: 150px;
    margin-top: 6px;
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
}
.deskripsi{
    color: aliceblue;
    margin-left: 40%;
    margin-top: -300px;
}
.barangpayment{
    background-color: #0A0A14;
    margin-top: 20%;
    margin-left: 5%;
    width: 1200px;
    height: 2000px;
   border-radius: 20px;
   padding: auto;
  }
  .container-biodata{
    margin-top: 250px;
    margin-left: 400px;
  }
 .mt-40{
    margin-top: 40px;
 }
 .input-payment{
    width: 200px; /* Sesuaikan lebar sesuai keinginan */
            height: 30px; /* Sesuaikan tinggi sesuai keinginan */
            font-size: 16px;
 }
 .ml-30{
    margin-left: 30px;
 }
 .emoney{
    margin-left: 50px;
 }
 h3{
    font-family: Josefin Sans;
 }
h2 {
    font-family: Bebas Neue;
    font-size: 60px;
    font-style: normal;
}
